<link href="//cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css"
rel="stylesheet" >
<p id="notice"><%= notice %></p>

<h1>Clientes</h1>

<table id="myTable" class="table">
  <thead>
    <tr>
      <th>Nombres</th>
      <th>Apell pat</th>
      <th>Apell mat</th>
      <th>Nif</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @clientes.each do |cliente| %>
      <tr>
        <td><%= cliente.nombres %></td>
        <td><%= cliente.apell_pat %></td>
        <td><%= cliente.apell_mat %></td>
        <td><%= cliente.nif %></td>
        <td><%= link_to 'Mostar', cliente %></td>
        <td><%= link_to 'Editar', edit_cliente_path(cliente), class: "btn btn-primary mb-4" %></td>
        <td><%= link_to 'Eliminar', cliente, method: :delete, data: { confirm: 'Estas seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Cliente', new_cliente_path %>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script src="//cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>

<script type="text/javascript">
  $(document).ready(function(){
    $('#myTable').DataTable();
  });
</script>
