<p id="notice"><%= notice %></p>

<p>
  <strong>Nombres:</strong>
  <%= @cliente.nombres %>
</p>

<p>
  <strong>Apell pat:</strong>
  <%= @cliente.apell_pat %>
</p>

<p>
  <strong>Apell mat:</strong>
  <%= @cliente.apell_mat %>
</p>

<p>
  <strong>Nif:</strong>
  <%= @cliente.nif %>
</p>

<%= link_to 'Editar', edit_cliente_path(@cliente), class: "btn btn-primary mb-4" %> |
<%= link_to 'Volver', clientes_path, class: "btn btn-secondary mb-4" %>
