<link href="//cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css"
rel="stylesheet" >

<div class="container">
  <div class="row">
    <div class="col">
      <p id="notice"><%= notice %></p>

      <h1>Proyectos</h1>

      <table id="myTable" class="table">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Imagen</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @proyectos.each do |proyecto| %>
            <tr>
              <td><%= proyecto.nombre %></td>
              <td><%= proyecto.imagen %></td>
              <td><%= link_to 'Mostrar', proyecto,
                class: "btn btn-primary" %></td>
              <td><%= link_to 'Editar', edit_proyecto_path(proyecto), 
                class: "btn btn-secondary" %></td>
              <td><%= link_to 'Eliminar', proyecto,
                method: :delete, 
                data: { confirm: 'Estas seguro?' },
                class:"btn btn-danger" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <br>

      <%= link_to 'Nuevo Proyecto', new_proyecto_path,
      class:"btn btn-primary mb-4" %>

      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

      <script src="//cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>

      <script type="text/javascript">
          $(document).ready(function(){
          $('#myTable').DataTable({
            language: {
              url: "//cdn.datatables.net/plug-ins/1.11.3/i18n/es-cl.json"
            }
          });
        });
      </script>
    </div>
  </div>
</div>