<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @categorium.nombre %>
</p>

<p>
  <strong>Imagen:</strong>
  <%= @categorium.imagen %>
</p>

<%= link_to 'Editar', edit_categorium_path(@categorium), class: "btn btn-primary" %> |
<%= link_to 'Volver', categoria_path, class: "btn btn-secondary" %>
