<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @producto.nombre %>
</p>

<p>
  <strong>Categoria:</strong>
  <%= @producto.categorium.nombre %>
</p>

<%= link_to 'Editar', edit_producto_path(@producto), class: "btn btn-primary mb-4" %> |
<%= link_to 'Volver', productos_path, class: "btn btn-secondary mb-4" %>
